__pycache__/
**/__pycache__/
*.pyc
*.pyo
*.pyd

.venv/
venv/
ENV/
.env
*.env
.envrc

*.DS_Store
*.log
*.pid
*.bak
*.tmp
*.secret

pip-log.txt
pip-delete-this-directory.txt
*.egg-info/
*.egg
*.manifest
*.spec

docker-compose.override.yml

/media/
*.tar
*.img
